<footer class="container flex justify-between py-8 font-mono text-sm border-t border-gray-400 border-dashed">
  <p>
    © {{year}} <a href="{{homeUrl}}" title="{{blogName}}">{{blogName}}</a>.
    <a class="hidden sm:inline" href="http://wordpress.org/" title="WordPress" rel="generator">Proudly powered by WordPress.</a>
  </p>
  <a href="#page" @click="$refs.page.scrollIntoView();$event.preventDefault()">Up ↑</a>
</footer>
