<article>
  {{ include('partials/post-header.twig', {title, date, datetime, readtime, tags, thumbnail}) }}
  <div class="container my-6 sm:my-8 lg:my-16 xl:my-20 md:max-w-screen-md">
  {{ content|raw }}
  </div>
</article>
