@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* purgecss start ignore */

header nav {
  a {
    @apply relative;
  }

  a:before {
    @apply absolute transition-all bg-transparent rounded-full;
    content: "";
    top: -4px;
    right: -6px;
    height: 6px;
    width: 6px;
  }

  li:hover a:before {
    @apply bg-gray-400;
  }

  li.current-menu-item a:before {
    @apply bg-green-400;
  }
}

/* purgecss end ignore */
